@charset "UTF-8";
/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#languages-block-top {
  float: right;
  position: relative;
  margin-top: 24px; }
  @media (max-width: 479px) {
    #languages-block-top {
      width: 25%; } }
  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top div.current {
    color: #333333;
    font-size: 11px;
    line-height: 18px;
    cursor: pointer; }
    #languages-block-top div.current strong {
      display: none; }
    #languages-block-top div.current:hover, #languages-block-top div.current.active {
      color: #fe2a2a; }
    #languages-block-top div.current:after {
      content: "";
      font-family: "FontAwesome";
      font-size: 11px;
      line-height: 18px;
      color: #878686;
      padding-left: 10px; }
    #languages-block-top div.current.active:after {
      content: ""; }
    @media (max-width: 479px) {
      #languages-block-top div.current .cur-label {
        display: none; } }
  #languages-block-top ul {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    width: 157px;
    background: #232323;
    z-index: 2; }
    #languages-block-top ul li {
      color: white;
      line-height: 30px;
      font-size: 13px; }
      #languages-block-top ul li a,
      #languages-block-top ul li > span {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      #languages-block-top ul li.selected, #languages-block-top ul li:hover a, #languages-block-top ul li.selected a, #languages-block-top ul li.selected span {
        color: #fe2a2a; }
