@import "compass";
@import "theme_variables";

$color1:#de5741;
$color2:#13a89e;


#page{background:none}
body{background:url(../img/bg-style2.gif)}

#search_block_top .btn.button-search:hover,
.header_user_info a:hover, 
.header_user_info a.active,
#header .shopping_cart:hover > a:first-child,
#currencies-block-top div.current:hover,
#currencies-block-top div.current.active,
#languages-block-top div.current:hover,
#languages-block-top div.current.active,
#header ul#header_links li a:hover,
#header ul#header_links li a.active,
#homepage-slider .homeslider-description h2,
#homepage-slider .bx-wrapper .bx-controls-direction a:after,
#header .sf-menu > li.sale-link a ,
.product-name:hover,
.button.button-small:hover,
.button.lnk_view span:after,
.button.lnk_view:hover,
.button.lnk_view:focus,
.cart_block .cart-buttons a,
.button.lnk_view:after, 
.button.lnk_view:before,
.button.button-small span i:after, 
.button.button-small span i:before

{color:$color1}

#header .sf-menu > li > a:after {background:$color1}



 .price.product-price.product-price-new{color:$color1}
#header .sf-menu > li.sale-link a:hover{color:#fff} 
#header .sf-menu > li,
#header .sf-menu{border-color:#6b7279}

.shopping_cart > a:first-child b,
.block .title_block, 
.block h4,
.sale-label,
.btn.button,
#homepage-slider:hover .homeslider-description b,
.fancybox-wrap .sale-label,
.fancybox-wrap .btn.button,
#reduction_percent, 
#reduction_amount

{
	
background: #cf523d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmNTIzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjU5NDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cf523d 0%, #e25942 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf523d), color-stop(100%,#e25942)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cf523d 0%,#e25942 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cf523d 0%,#e25942 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cf523d 0%,#e25942 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cf523d 0%,#e25942 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf523d', endColorstr='#e25942',GradientType=0 ); /* IE6-8 */
	
	}
	
	#currencies-block-top ul,
	#languages-block-top ul{background: #30373f;
	li{
	&.selected, &:hover a ,&.selected a, &.selected span{
				color:$color1
			}
		}
	}
		
	
	
.cart_block .cart-buttons a{background:$color1}

	.row-top,
	#search_block_top .btn.button-search,
	.shopping_cart > a:first-child,
	#homepage-slider .homeslider-description b,
	#home-page-tabs,
	.btn.button:hover{background: #30373f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzczZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjQ4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #30373f 0%, #3f4852 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30373f), color-stop(100%,#3f4852)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #30373f 0%,#3f4852 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #30373f 0%,#3f4852 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #30373f 0%,#3f4852 100%); /* IE10+ */
background: linear-gradient(to bottom,  #30373f 0%,#3f4852 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30373f', endColorstr='#3f4852',GradientType=0 ); /* IE6-8 */
}

.price-percent-reduction{background:$color1}


	.button.button-small{background:none;
                &:hover{background:none}
           }	
	
	
	#htmlcontent_top ul li h2,
	#htmlcontent_top ul li span,
	#htmlcontent_top ul li.htmlcontent-item-4 .item-html > div span i,
	#cmsinfo_block .list-cms-info li a:hover,
	.footer-container #footer a:hover,
	.footer-container #footer #social_block ul li a:hover
      {color:$color1}
	
	#htmlcontent_top ul li em,
	#htmlcontent_home li > div{background:$color2}	
	
	#htmlcontent_home li.htmlcontent-item-3 > div{background:#3f4953}
	#htmlcontent_home li p strong{color:$color1}
	
	.footer-container #footer .bottom-footer{color:#fff;
	
	a{color:#fff;	
	  &:hover{color:#000 }	  
	  }
	}
	
	#cmsinfo_block em{background:$color1}
	
	
